@import "../../../colors.scss";

.questpopup {
  background-color: $nav-color;
  color: $text-color !important;
  // padding: 20px;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  .header {
    display: flex;
    justify-content: space-between;
    h2 {
      padding-right: 24px;
    }
  }
}

.link-icon {
  width: 35px;
  fill: transparent;
  stroke-width: 1;
  stroke: $text-color;
  cursor: pointer;
  &:hover {
    stroke: rgba(214, 214, 214, 0.7);
  }
}
.questpopup-checkbox {
  margin-top: 6px;
  width: 30px;
  height: 30px;
  svg {
    width: 30px;
    height: 30px;
  }
  span {
    width: 30px;
    height: 30px;
  }
  & > span {
    color: $text-color;
    &:hover {
      color: rgba(184, 184, 184, 0.7);
    }
  }
}

.checkbox-checked {
  & > span {
    color: rgba(184, 184, 184, 0.7) !important;
  }
}
