@import "../../../colors.scss";

.questpopup {
  background-color: $nav-color;
  color: $text-color;
  // padding: 20px;
}

.header {
  display: flex;

  h2 {
    padding-right: 24px;
    text-decoration: underline;
    text-decoration-color: $tarkov-brown;
    &:hover {
      color: #b6afa0;
      text-decoration-color: #b6afa0;
    }
  }
}

.questpopup-checkbox {
  margin-top: 6px;
  width: 30px;
  height: 30px;
  svg {
    width: 30px;
    height: 30px;
  }
  span {
    width: 30px;
    height: 30px;
  }
  & > span {
    color: $text-color;
    &:hover {
      color: rgba(184, 184, 184, 0.7);
    }
  }
}

.checkbox-checked {
  & > span {
    color: rgba(184, 184, 184, 0.7) !important;
  }
}

.issue {
  color: #d0342c;
}
