@import "../../../colors.scss";

.signin {
  background-color: $tarkov-brown;
  border: none;
  &:focus {
    background-color: $tarkov-brown;
    box-shadow: none;
    outline: 0;
  }
  &:hover {
    background-color: $tarkov-brown-highlight;
    box-shadow: none;
    outline: 0;
  }
}
