@import "../../../colors.scss";

.toggle-button {
  height: 40px;
  width: 80px;
  padding: 0px;
  border-radius: 30px;
  background-color: $tarkov-white;
  border: none;
  border-radius: 150px 150px 0 0;
  &:hover {
    background-color: #bbbbbb;
  }
  svg {
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 10px;
  }
}
