@import "../../../colors.scss";

.ammoTable {
  color: $text-color;
  margin-right: auto;
  margin-left: auto;
  // font-size: 17px;
  // text-align: justify;
  margin-bottom: 80px;
  color: $text-color;
}
