@import "../../../colors.scss";

#mapNav {
  margin-top: 15px;

  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#mapNavnavSlider {
  position: absolute;
  border-bottom: 3px solid $tarov-brown-highlight;
  transition: all 0s;
}
