@import "../../../colors.scss";

.tree-container {
  height: 100%;
}

.node-title {
  font-size: 34px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.done-count {
  font-size: 34px;
  text-align: center;
}

.kappa {
  height: 60px;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0 0 19.5px 19.5px;
  border-top: 4px dashed white;
  background-color: $back-color;
  white-space: pre;
}

.green {
  display: inline;
  color: green;
  font-weight: bold;
}

.yellow {
  display: inline;
  color: #eed202;
  font-weight: bold;
}

.red {
  display: inline;
  color: #d0342c;
  font-weight: bold;
}

.node-obj {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:active {
    cursor: grabbing;
  }
  color: $tarkov-white;
}

.node__root > circle {
  // fill: $tarkov-brown;
}

.node__branch > circle {
  // fill: $tarkov-brown;
}

.node__leaf > circle {
  // fill: $tarkov-brown;
  /* Let's also make the radius of leaf nodes larger */
  // r: 40;
}

//Node Stuff
.all-nodes {
  stroke-width: 7px;
}

.Prapor {
  fill: $prapor;
  stroke: $prapor;
}
.Therapist {
  fill: $therapist;
  stroke: $therapist;
}
.Skier {
  fill: $skier;
  stroke: $skier;
}
.Peacekeeper {
  fill: $peacekeeper;
  stroke: $peacekeeper;
}
.Mechanic {
  fill: $mechanic;
  stroke: $mechanic;
}
.Ragman {
  fill: $ragman;
  stroke: $ragman;
}
.Jaeger {
  fill: $jaeger;
  stroke: $jaeger;
}
.Fence {
  fill: $fence;
  stroke: $fence;
}

.rd3t-link {
  stroke: white !important;
  stroke-width: 2px;
}

.information-icon,
.checkbox-icon {
  cursor: pointer;
}

.info-path-yellow {
  // stroke: #eed202;
  // fill: #eed202;
  // stroke: #751414;
  // fill: #751414;
}
