@import "../../../colors.scss";

.quest-node {
    width: 150px;
    height: auto;
    padding: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: white;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
  }

.prapor-node {
    background: $prapor;
    border: 1px solid $prapor-highlight;
}

.prapor-completed {
    background: $prapor-highlight;
}

.selected > .prapor-node { 
    box-shadow: 0 0 0 2px $prapor-highlight-completed;
    border-radius: 2px;
}

.therapist-node {
    background: $therapist;
    border: 1px solid $therapist-highlight;
}

.therapist-completed {
    background: $therapist-highlight;
}

.selected > .therapist-node { 
    box-shadow: 0 0 0 2px $therapist-highlight-completed;
    border-radius: 2px;
}

.skier-node {
    background: $skier;
    border: 1px solid $skier-highlight;
}

.skier-completed {
    background: $skier-highlight;
}

.selected > .skier-node { 
    box-shadow: 0 0 0 2px $skier-highlight-completed;
    border-radius: 2px;
}

.peacekeeper-node {
    background: $peacekeeper;
    border: 1px solid $peacekeeper-highlight;
}

.peacekeeper-completed {
    background: $peacekeeper-highlight;
}

.selected > .peacekeeper-node { 
    box-shadow: 0 0 0 2px $peacekeeper-highlight-completed;
    border-radius: 2px;
}

.mechanic-node {
    background: $mechanic;
    border: 1px solid $mechanic-highlight;
}

.mechanic-completed {
    background: $mechanic-highlight;
}

.selected > .mechanic-node { 
    box-shadow: 0 0 0 2px $mechanic-highlight-completed;
    border-radius: 2px;
}

.ragman-node {
    background: $ragman;
    border: 1px solid $ragman-highlight;
}

.ragman-completed {
    background: $ragman-highlight;
}

.selected > .ragman-node { 
    box-shadow: 0 0 0 2px $ragman-highlight-completed;
    border-radius: 2px;
}

.jaeger-node {
    background: $jaeger;
    border: 1px solid $jaeger-highlight;
}

.jaeger-completed {
    background: $jaeger-highlight;
}

.selected > .jaeger-node { 
    box-shadow: 0 0 0 2px $jaeger-highlight-completed;
    border-radius: 2px;
}

.fence-node {
    background: $fence;
    border: 1px solid $fence-highlight;
}

.fence-completed {
    background: $fence-highlight;
}

.selected > .fence-node { 
    box-shadow: 0 0 0 2px $fence-highlight-completed;
    border-radius: 2px;
}