$tarkov-black: #0d0d0d;
$tarkov-lightbrown: #8a7c64;
$back-color: #05090a;
$tarkov-ebony: #212529;
$tarkov-white: #ebebeb;

$tarkov-brown: #9a8866;
$tarov-brown-highlight: #b6a990;
$text-color: #aeaeb0;
$back-color: #0e0e0e;
$nav-color: #242424; //1f1f21

$prapor: #806543;
$therapist: #973b5a;
$skier: #965c1f;
$peacekeeper: #355c7d;
$mechanic: #7e1919;
$ragman: #6c5b7b;
$jaeger: #3f704d;
$fence: #363636;
