$tarkov-black: #0d0d0d;
$tarkov-lightbrown: #8a7c64;
$back-color: #05090a;
$tarkov-ebony: #212529;
$tarkov-white: #ebebeb;

$tarkov-brown: #9a8866;
$text-color: #aeaeb0;
$back-color: #0e0e0e;
$nav-color: #242424; //1f1f21
