$tarkov-black: #0d0d0d;
$tarkov-lightbrown: #8a7c64;
$tarkov-ebony: #212529;
$tarkov-white: #ebebeb;

$tarkov-brown: #9a8866;
$tarkov-brown-highlight: #b6a990;
$text-color: #aeaeb0;
$back-color: #0e0e0e;
$nav-color: #242424; //1f1f21

$prapor: #31210f;
$prapor-highlight: #96622d;

$therapist: #380a1b;
$therapist-highlight: #871742;

$skier:#965c1f40;
$skier-highlight: #825f07;

$peacekeeper: #0a1933;
$peacekeeper-highlight: #193d7a;


$mechanic: #340e05;
$mechanic-highlight:#7d220b ;

$ragman: #002d29;
$ragman-highlight: #006c63;

$jaeger: #0a290d;
$jaeger-highlight: #19641f;

$fence: #363636;
$fence-highlight: #5f5f5f;


